Development/CallParameters.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "Get All Tables",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "SELECT name\r\nFROM sys.objects\r\nWHERE type_desc = 'USER_TABLE'",
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "firstRowOnly": false,
          "datasetSettings": {
            "annotations": [],
            "linkedService": {
              "name": "DemoFabricDW",
              "properties": {
                "annotations": [],
                "type": "DataWarehouse",
                "typeProperties": {
                  "endpoint": "wwnrfbwvnjuefjh73xtls3crhm-hquwuy2bwgdelcd4wygx6znmxa.datawarehouse.fabric.microsoft.com",
                  "artifactId": "df6e9e4d-d8f3-418f-9e91-83816b763989",
                  "workspaceId": "636a293c-b141-4586-887c-b60d7f65acb8"
                }
              }
            },
            "type": "DataWarehouseTable",
            "schema": [],
            "typeProperties": {}
          }
        }
      },
      {
        "name": "Loop the Tables",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "Get All Tables",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "items": {
            "value": "@activity('Get All Tables').output.value",
            "type": "Expression"
          },
          "isSequential": true,
          "activities": [
            {
              "name": "Data Load Process",
              "type": "Copy",
              "dependsOn": [],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "typeProperties": {
                "source": {
                  "type": "DataWarehouseSource",
                  "queryTimeout": "02:00:00",
                  "partitionOption": "None",
                  "datasetSettings": {
                    "annotations": [],
                    "linkedService": {
                      "name": "DemoFabricDW",
                      "properties": {
                        "annotations": [],
                        "type": "DataWarehouse",
                        "typeProperties": {
                          "endpoint": "wwnrfbwvnjuefjh73xtls3crhm-hquwuy2bwgdelcd4wygx6znmxa.datawarehouse.fabric.microsoft.com",
                          "artifactId": "df6e9e4d-d8f3-418f-9e91-83816b763989",
                          "workspaceId": "636a293c-b141-4586-887c-b60d7f65acb8"
                        }
                      }
                    },
                    "type": "DataWarehouseTable",
                    "schema": [],
                    "typeProperties": {
                      "schema": "dbo",
                      "table": {
                        "value": "@item().name",
                        "type": "Expression"
                      }
                    }
                  }
                },
                "sink": {
                  "type": "LakehouseTableSink",
                  "tableActionOption": "Append",
                  "partitionOption": "None",
                  "datasetSettings": {
                    "annotations": [],
                    "linkedService": {
                      "name": "SalesLakehouse",
                      "properties": {
                        "annotations": [],
                        "type": "Lakehouse",
                        "typeProperties": {
                          "workspaceId": "636a293c-b141-4586-887c-b60d7f65acb8",
                          "artifactId": "22e80c9d-3f63-4efa-ac27-62f4a663e367",
                          "rootFolder": "Tables"
                        }
                      }
                    },
                    "type": "LakehouseTable",
                    "schema": [],
                    "typeProperties": {
                      "schema": "dbo",
                      "table": {
                        "value": "@item().name",
                        "type": "Expression"
                      }
                    }
                  }
                },
                "enableStaging": false,
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                }
              }
            }
          ]
        }
      }
    ]
  }
}