Development/TempJsonData.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "170746d7-e8c3-4f29-a4ca-547143b4c5c9",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get JsonData",
        "dependsOn": []
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "FinalValue",
          "value": {
            "value": "@activity('Get JsonData').output.result.exitValue",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "FinalInfo",
        "dependsOn": [
          {
            "activity": "Get JsonData",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "TestData",
          "value": {
            "value": "@replace(variables('FinalValue'),'\"{','{')",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set variable1",
        "dependsOn": [
          {
            "activity": "FinalInfo",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "FinalValue": {
        "type": "String"
      },
      "TestData": {
        "type": "String"
      }
    }
  }
}